{% extends 'dashboard_temp.html' %}
{% block title %}Compose{% endblock %}

{% block content %}

<div class="card shadow-sm p-4" style="border-radius:15px; max-width:700px; margin:auto; margin-top: -60%; padding-left: 200px;margin-right: 200px;">
    <h3 class="mb-4 text-center" style="font-family: sans-serif;">Change Password</h3>
        
    <form method="POST">
        {% csrf_token %}
       
            <tr>
                <th>Old Password :</th>
                <td><input type="password" name="old_password" class="form-control mb-4"></td>
            </tr>
            <tr>
                <th>New Password :</th>
                <td><input type="password" name="new_password1" class="form-control mb-4"></td>
            </tr>
            <tr>
                <th>Confirm New Password :</th>
                <td><input type="password" name="new_password2" class="form-control mb-4"></td>
            </tr>
            <tr>
                <td colspan="2" ><button class="btn btn-primary w-50" style="margin-left: 150px;">Change</button></td>
            </tr>
    </form>
</div>
{% if msg %}
    <div class="alert alert-success mt-3 w-50 " style="margin-left: 380px;">
        <h5>{{msg}}</h5>
    </div>
    {% elif errors %}
    <div class="alert alert-danger mt-3 w-50 " style="margin-left: 380px;">
        <h5>{{errors}}</h5>
    </div>
    {% endif %}
{% endblock %}

