{% extends 'dashboard_temp.html' %}
{% block title %}Compose{% endblock %}

{% block content %}
<div class="card shadow-sm p-4" style="border-radius:15px; max-width:700px; margin:auto; margin-top: -60%; padding-left: 200px;margin-right: 200px;">
    <h3 class="mb-4 text-center" style="font-family: sans-serif;">Email Details</h3>
    
    <p><b>TO : </b> {{data.to_user}}</p>
    <p><b>Subject :</b> {{data.subject}}</p>
    <p><b>Message : </b> {{data.mail_content}}</p>
    <h2>Attachments : </h2>
    {% if data.attachment %}
    
    <p class="text-center">
        <a href="{{data.attachment.url}}">{{data.attachment}}</a>
    </p>
    {% else %}
    <p style="font-style: italic;">No Attachment Available</p>
    {% endif %}
</div>
{% endblock %}

