{% extends 'dashboard_temp.html' %}
{% block title %}Compose{% endblock %}
{% block content %}
<style>
    tr th,td{
        text-align: center;
    }
</style>
<div class="card shadow-sm p-4" style="border-radius:15px; max-width:900px; margin:auto; margin-top: -60%; padding-left: 200px;margin-right: -50px;">
    <h3 class="mb-4 text-center" style="font-family: sans-serif;">SENT MAILS</h3>
    
    <table class="table-bordered border" >
        <tr>
            <th>Sno</th>
            <th>To</th>
            <th>Subject</th>
            <th>Date</th>
        </tr>
        {% for data in qs %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{data.to_user}}</td>
            <td><a href="/sent_content/{{data.id}}" class="text-decoration-none">{{data.subject}}</a></td>
            <td>{{ data.datetime|date:"d F Y H:i" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" align="center" style="background-color: darkgray;">No Emails are availables</td>
        </tr>
        {% endfor %}
        
    </table>
</div>
{% endblock %}
